.orderx {
  font-weight: 500;
  font-size: 50px;
}

.xxser {
  font-weight: 600;
  font-size: 19px;
}

.userx {
  font-weight: 500;
  font-size: 19px;
}

.bxvfx{
  font-family: 'Lato', sans-serif !important;
  width: 745px
}