@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700;1,800&display=swap");

.nav-collapse {
  .nav-contents {
    @apply lg:flex lg:flex-row justify-center lg:items-center items-start hidden;

    &.open .links {
      @apply text-theme;
    }
  }

  .r-s li:last-child {
    @screen lg {
      margin-right: 0;
    }
  }
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .social-menu {
  // -webkit-box-ordinal-group: 2;
  // -ms-flex-order: 1;
  // order: 1;
}
.social-menu ul > li {
  margin: 0 0.1rem;
}
.nav-content-open {
  box-shadow: -2px 2px 81px -27px rgba(#000, 0.3);
  top: 5rem;
}

.slide-down {
  backdrop-filter: blur(15px);
  background-color: red;

  @apply fixed -top-52 bg-white shadow-md;

  .contents a {
    &.link-active {
      @apply border-2 border-theme;
    }
  }
}

.main-side {
  height: 100vh;
  width: 100vw;
  z-index: 559;

  &.open {
    visibility: visible;

    .overlay {
      opacity: 1 !important;
    }

    .aside--main {
      transform: translateX(0);
    }
  }

  .aside--main {
    transition: 0.3s ease;
    transform: translateX(100%);
    z-index: 559;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;

    .inner-close {
      font-size: 25px;
    }

    .inner-title {
      font-size: 18px;
    }

    .open {
      transform: translateX(0);
      &.search {
        visibility: visible;
      }
    }
  }

  .overlay {
    background: rgba(#000, 0.3);
    transition: 0.3s ease;
    @apply fixed top-0 left-0;
    z-index: 557;
  }
}

.nnav {
  filter: drop-shadow(0 0 6px #83a2ff);
}

.bgk {
  background: #253b80;
}

.nav-overlay {
  visibility: hidden;
  background: rgba(#000, 0.3);
  transition: opacity 0.2s ease;
  @apply fixed top-0 left-0;
  z-index: 557;

  &.open {
    visibility: visible;
    opacity: 1 !important;
  }
}

.nav-collapse {
  .nav-contents {
    @apply lg:flex lg:flex-row justify-center lg:items-center items-start hidden;

    &.open .links {
      @apply text-theme;
    }
  }

  .r-s li:last-child {
    @screen lg {
      margin-right: 0;
    }
  }
}

.nav-content-open {
  box-shadow: -2px 2px 81px -27px rgba(#000, 0.3);
  top: 5rem;
}

// .slide-down {
//   backdrop-filter: blur(15px);

//   @apply fixed -top-52 bg-white shadow-md;

//   .contents a {
//     &.link-active {
//       @apply border-2 border-theme;
//     }
//   }
// }

.aside--main {
  transition: 0.3s ease;
  transform: translateX(100%);
  z-index: 559;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;

  &.search {
    visibility: hidden;
  }

  .inner-close {
    font-size: 25px;
  }

  .inner-title {
    font-size: 18px;
  }

  &.open {
    transform: translateX(0);

    &.search {
      visibility: visible;
    }
  }
}

.nav-overlay {
  visibility: hidden;
  background: rgba(#000, 0.3);
  transition: opacity 0.2s ease;
  @apply fixed top-0 left-0;
  z-index: 557;

  &.open {
    visibility: visible;
    opacity: 1 !important;
  }
}

.name-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 35.0769px;
  line-height: 43px;
  /* identical to box height */

  color: #ffffff;
}

.theme-2--nav {
  background: #60898d;
  color: #fff;
}

.dis-cer {
  font-weight: 800;

  line-height: 44px;
}

.pekx-eed {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.odks-sie {
  font-family: "Montserrat", sans-serif;
  width: 357px;
  height: 259px;
  background: #ffffff;
  border-radius: 20px;
}

.sds-sdsd {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #abafb0;
}

.cdc {
  width: 137px;
  height: 44px;

  background: #3b4445;
  border-radius: 20px;
  color: #ffffff;
}

.kl {
  background: #3b4445;
  width: 50%;
}

.klmk {
  font-family: "Montserrat", sans-serif;

  // width: 357px;
  margin-top: 39px;
}

.njkji {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-transform: capitalize;

  color: #3b4445;
}

.hjhj {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  
  /* identical to box height */

  text-transform: capitalize;

  color: #113b1f;
}

.bxx {
  box-shadow: 0px 17.6px 26.4px rgba(53, 49, 84, 0.28);
  // box-shadow: 0px 20.3258px 30.4888px rgba(53, 49, 84, 0.28);
}

.osie {
  width: 254px;
  height: 210px;
  background: #ffffff;
  border-radius: 20px;
}
